.hideModal {
  height: 0%;
  width: 0%;
}

.showModal {
  position: fixed; /* Stay in place */

  z-index: 1; /* Sit on top */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%; /* Full width */
  height: 50%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #272652; /* Fallback color */
  border: 1px solid #82a0b9;
  /* Black w/ opacity */
}
